@{
    ViewBag.Title = "分组编辑";
}
@model Exam.Admin.Models.SysGroupVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        分组编辑 <small>添加、修改</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form id="from" class="form-horizontal">
                        <input type="hidden" class="form-control" name="id" id="id" value="@Model.SysGroup.SysGroupId">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分组名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" id="name" class="form-control" placeholder="请输入分组名称" value="@(Model.SysGroup.Name ?? "")">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分组类型</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="type" id="type">
                                    <option value="0">请选中类型</option>
                                    <option @(Model.SysGroup.Type == (int)Exam.Domain.EnumHelp.GroupTypeEnum.后台 ? "selected" : "" ) value="@((int)Exam.Domain.EnumHelp.GroupTypeEnum.后台)">后台</option>
                                    <option @(Model.SysGroup.Type == (int)Exam.Domain.EnumHelp.GroupTypeEnum.APP ? "selected" : "" ) value="@((int)Exam.Domain.EnumHelp.GroupTypeEnum.APP)">APP</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序号</label>
                            <div class="col-sm-2">
                                <input type="number" name="sortNo" id="sortNo" class="form-control" placeholder="请输入排序号" value="@Model.SysGroup.SortNo">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="btnSave" class="btn btn-primary" type="button">保存内容</button>
                                <a class="btn btn-white" href="javascript:history.go(-1);">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/ViewJs/SysGroup/sysGroupEdit.js"+Versions.Ver)"></script>
}
