@{
    ViewBag.Title = "题目编辑";
}
@model Exam.Admin.Models.ProblemVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Problem/List" method="get">
                            <div class="col-sm-4">
                                问题名称：
                                <input type="text" name="QueryName" class="form-control inline" style="width:70%;" placeholder="请输入查询问题名称" value="@(Model.QueryName ?? "")">
                            </div> 
                            <button type="submit" class="btn btn-info">搜索</button>
                            @foreach (var item in Model.Belongs)
                            {
                                <button type="button" data-belongId="@item.BelongId" class="btn btn-danger right syncdata">同步题库(@item.Title)</button>
                            } 
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center" width="35%">问题标题</th>
                                    <th class="text-center">类别分类</th>
                                    <th class="text-center">所属层级</th>
                                    <th class="text-center">章节分类</th>
                                    <th class="text-center">是否热门</th> 
                                    <th class="text-center">排序号</th> 
                                    <th class="text-center">创建时间</th>
                                    <th class="text-center">修改时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Paging.Items != null && Model.Paging.Items.Count > 0)
                                {
                                    foreach (var item in Model.Paging.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@item.ProblemId</td>
                                            <td class="text-center">@item.Title</td>
                                            <td class="text-center">@item.ProblemCategoryId</td>
                                            <td class="text-center">@item.BelongId</td>
                                            <td class="text-center">@item.ChapterId</td>
                                            <td class="text-center">@(item.IsHot == 1 ? "是":"否")</td>
                                            <td class="text-center">@item.Sort</td> 
                                            <td class="text-center">@item.CTime</td>
                                            <td class="text-center">@item.UTime</td>
                                            <td> 
                                                <a href="/Problem/Edit/@item.ProblemId" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;编辑</a> 
                                                <button onclick="iframe('答案列表','/Problem/AnswerList/@item.ProblemId')" class="btn btn-success">查看答案</button>
                                                <button onclick="del('/Problem/Delete','/Problem/List','@item.ProblemId')" class="btn btn-danger"><i class="fa fa-times padding-right-4"></i>&nbsp;删除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/Problem/Edit" class="btn btn-info" data-refresh="0"><i class="fa fa-plus padding-right-4"></i>&nbsp;添加</a>
                                <a href="/Problem/List" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                            @Html.Raw(Model.Paging.Text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
<script type="text/javascript">
    $(document).ready(function () {
        $(".syncdata").click(function () {
            var belongid = $(this).attr("data-belongId");
            //提交
            $.post('/Problem/SyncProblemData',
                { id: belongid },
                function (data) {
                if (data.Status == 200) {
                    swal("提示", "操作成功"); 
                }
                if (data.Status == 202) {
                    swal("提示", "操作失败");
                }
                if (data.Status == 203) {
                    swal("提示", "数据重复");
                }
            });
            return false;
        })

    })

</script>}