@{
    ViewBag.Title = "视频编辑";
}
@model Exam.Admin.Models.VideoVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        视频编辑 <small>添加、修改</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form id="from" class="form-horizontal">
                        <input type="hidden" name="id" id="id" value="@Model.Video.VideoId">
                        <input type="hidden" id="imgInfoId" value="@Model.Video.ImageInfoId" />
                        <input type="hidden" id="oldImgInfoId" value="@Model.Video.ImageInfoId" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-6">
                                <input id="filename" name="filename" type="file" class="file-loading" multiple data-show-upload="true" data-show-caption="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所属层级</label>
                            <div class="col-sm-4" id="appendDiv">
                                <select class="form-control inline" style="width:150px;" name="belongId" id="belongId">
                                    <option value="0">请选择所属层级</option>
                                    @if (Model.Belongs != null && Model.Belongs.Count > 0)
                                    {
                                        foreach (var a in Model.Belongs)
                                        {
                                            <option @(Model.Video.BelongId == a.BelongId ? "selected" : "") value="@a.BelongId">@a.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">视频分类</label>
                            <div class="col-sm-4" id="appendDiv">
                                <select class="form-control inline" style="width:150px;" name="videoClassId" id="videoClassId">
                                    <option value="0">请选择视频分类</option>
                                    @if (Model.VideoClasses != null && Model.VideoClasses.Count > 0)
                                    {
                                        foreach (var a in Model.VideoClasses)
                                        {
                                            <option @(Model.Video.VideoClassId == a.VideoClassId ? "selected" : "") value="@a.VideoClassId">@a.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">视频标题</label>
                            <div class="col-sm-4">
                                <input type="text" name="title" id="title" class="form-control" placeholder="请输入视频名称" value="@(Model.Video.Title ?? "")">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上传视频</label>
                            <div class="col-sm-6">
                                <input id="filename2" name="filename2" type="file" class="file-loading" multiple data-show-upload="true" data-show-caption="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">　</label>
                            <label class="col-sm-10" style="color:green;">选择视频文件，点击上传，成功之后，下方视频 链接地址会自动填充，也可以直接输入已存在的链接地址。</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">视频连接</label>
                            <div class="col-sm-4">
                                <input type="text" name="url" id="url" class="form-control" placeholder="请输入视频链接" value="@(Model.Video.Url ?? "")">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否置顶</label>
                            <div class="col-sm-4">
                                <select class="form-control inline" style="width:150px;" name="isTop" id="isTop"> 
                                    <option @(Model.Video.IsTop == 1 ? "selected" : "") value="1">是</option>
                                    <option @(Model.Video.IsTop == 0 ? "selected" : "") value="0">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">排序号</label>
                            <div class="col-sm-2">
                                <input type="number" name="sortNo" id="sortNo" class="form-control" placeholder="请输入排序号" value="@Model.Video.Sort">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="btnSave" class="btn btn-primary" type="button">保存内容</button>
                                <a class="btn btn-white" href="javascript:history.go(-1);">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/plugins/fileinput/fileinput.js"+Versions.Ver)"></script>
    <script src="@("/Scripts/plugins/fileinput/zh.js"+Versions.Ver)"></script>
    <script src="@("/Scripts/ViewJs/Video/VideoEdit.js"+Versions.Ver)"></script>

    <script type="text/javascript">

        var img = [];
        if ('@Model.ImgInfo.Url' != '') {
            var str = '<img src="@(Model.ImgInfo.Url)" class="kv-preview-thumb kv-file-content file-preview-image" />';
            img.push(str);
        }
        //缩略图上传js
        $('#filename').fileinput({
            language: 'zh',
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            uploadUrl: '/Uploader/ImgFile?folder=VideoCover&title=视频封面图',
            showUpload: false,  //是否显示上传按钮
            showRemove: true,   //显示移除按钮
            maxFileSize: 2000,
            showCaption: true,  //是否显示标题
            maxFileCount: 1,    //表示允许同时上传的最大文件个数
            maxFileSize: 1024,   //单位为kb，如果为0表示不限制文件大小
            initialPreview: img,
            dropZoneTitle: '请选择需要上传的图片',
        });
        //上传成功回调事件
        $("#filename").on("fileuploaded", function (event, data, previewId, index) {
            $('#imgInfoId').val(data.response);
        });
        //移除事件
        $("#filename").on("fileclear", function (event, data, previewId, index) {
            $.post("/Uploader/DeleteFile", { Id: $('#imgInfoId').val() }, function (data) { });
        });

        //缩略图上传js
        $('#filename2').fileinput({
            language: 'zh',
            allowedFileTypes: ['video'],
            // allowedFileExtensions: ['mp4'],
            uploadUrl: '/Uploader/VideoFile?folder=Video&title=视频',
            showUpload: false,  //是否显示上传按钮
            showRemove: true,   //显示移除按钮
            //maxFileSize: 2000,
            showCaption: true,  //是否显示标题
            maxFileCount: 1,    //表示允许同时上传的最大文件个数
            maxFileSize: 0,   //单位为kb，如果为0表示不限制文件大小
            //initialPreview: img,
            dropZoneTitle: '请选择需要上传的视频文件',
        });
        //上传成功回调事件
        $("#filename2").on("fileuploaded", function (event, data, previewId, index) {
            $('#url').val(data.response);
        });
        //移除事件
        $("#filename2").on("fileclear", function (event, data, previewId, index) {
            //$.post("/Uploader/DeleteFile", { Id: $('#imgInfoId').val() }, function (data) { });
        });
    </script>
}

