@{
    ViewBag.Title = "用户编辑";
}
@model Exam.Admin.Models.UserInfoVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        用户编辑 <small>添加、修改</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form id="from" class="form-horizontal">
                        <input type="hidden" name="id" id="id" value="@Model.UserInfo.UserInfoId">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">图片</label>
                                <div class="col-sm-6">
                                    <input id="filename" name="filename" type="file" class="file-loading" multiple data-show-upload="true" data-show-caption="true">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <label class="col-sm-2 control-label">用户组</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="fId" id="fId">
                                    <option value="0">请选择用户组</option>
                                    @if (Model.SysGroupList != null && Model.SysGroupList.Count > 0)
                                    {
                                        foreach (var item in Model.SysGroupList)
                                        {
                                            <option @(Model.UserInfo.SysGroupId == item.SysGroupId ? "selected" : "" ) value="@item.SysGroupId">@(item.Name ?? "")</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户等级</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="fId" id="fId">
                                    <option value="0">请选择用户等级</option>
                                    @if (Model.GradeList != null && Model.GradeList.Count > 0)
                                    {
                                        foreach (var item in Model.GradeList)
                                        {
                                            <option @(Model.UserInfo.GradeId == item.GradeId ? "selected" : "" ) value="@item.GradeId">@(item.Title ?? "")</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名称</label>
                            <div class="col-sm-4">
                                <input type="text" name="name" id="name" class="form-control" placeholder="请输入用户名称" value="@(Model.UserInfo.NikeName ?? "")">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机号码</label>
                            <div class="col-sm-4">
                                <input type="text" name="url" id="url" class="form-control" placeholder="请输入手机号码" value="@(Model.UserInfo.Phone ?? "")">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="btnSave" class="btn btn-primary" type="button">保存内容</button>
                                <a class="btn btn-white" href="javascript:history.go(-1);">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/plugins/fileinput/fileinput.js"+Versions.Ver)"></script>
    <script src="@("/Scripts/plugins/fileinput/zh.js"+Versions.Ver)"></script>
    <script src="@("/Scripts/ViewJs/UserInfo/UserInfoEdit.js"+Versions.Ver)"></script>
    <script type="text/javascript">
        
        var img = [];
        if ('@Model.ImgInfo.Url' != '') {
            var str = '<img src="@(Model.ImgInfo.Url)" class="kv-preview-thumb kv-file-content file-preview-image" />';
            img.push(str);
        }
        //缩略图上传js
        $('#filename').fileinput({
            language: 'zh',
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            uploadUrl: '/Uploader/ImgFile?folder=UserInfo&title=用户图片',
            showUpload: false,  //是否显示上传按钮
            showRemove: true,   //显示移除按钮
            maxFileSize: 2000,
            showCaption: true,  //是否显示标题
            maxFileCount: 1,    //表示允许同时上传的最大文件个数
            maxFileSize: 1024,   //单位为kb，如果为0表示不限制文件大小
            initialPreview: img,
            dropZoneTitle: '请选择需要上传的图片',
        });
        //上传成功回调事件
        $("#filename").on("fileuploaded", function (event, data, previewId, index) {
            $('#imgInfoId').val(data.response);
        });
        //移除事件
        $("#filename").on("fileclear", function (event, data, previewId, index) {
            $.post("/Uploader/DeleteFile", { Id: $('#imgInfoId').val() }, function (data) { });
        });
    </script>
}

