@{
    ViewBag.Title = "讲师编辑";
}
@model Exam.Admin.Models.LecturerVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Lecturer/List" method="get">
                            <div class="col-sm-4">
                                讲师名称：
                                <input type="text" name="QueryName" class="form-control inline" style="width:70%;" placeholder="请输入查询讲师名称" value="@(Model.QueryName ?? "")">
                            </div> 
                            <button type="submit" class="btn btn-info">搜索</button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">讲师名称</th>
                                    <th class="text-center">职位</th>
                                    <th class="text-center">排序号</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Paging.Items != null && Model.Paging.Items.Count > 0)
                                {
                                    foreach (var item in Model.Paging.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@item.LecturerId</td>
                                            <td class="text-center">@item.Name</td>
                                            <td class="text-center">@item.Position</td>
                                            <td class="text-center">@item.Abstracts</td>
                                            <td class="text-center">@item.ImageInfoId</td>
                                            <td class="text-center">@item.Sort</td> 
                                            <td class="text-center">@item.CTime</td>
                                            <td> 
                                                <a href="/Lecturer/Edit/@item.LecturerId" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;编辑</a>
                                                
                                                <button onclick="del('/Lecturer/Delete','/Lecturer/List','@item.LecturerId')" class="btn btn-danger"><i class="fa fa-times padding-right-4"></i>&nbsp;删除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/Lecturer/Edit" class="btn btn-info" data-refresh="0"><i class="fa fa-plus padding-right-4"></i>&nbsp;添加</a>
                                <a href="/Lecturer/List" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                            @Html.Raw(Model.Paging.Text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
