@{
    ViewBag.Title = "问题编辑";
}
@model Exam.Admin.Models.QuestionVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Question/List" method="get">
                            <div class="col-sm-4">
                                问题名称：
                                <input type="text" name="QueryName" class="form-control inline" style="width:70%;" placeholder="请输入查询内容" value="@(Model.QueryName ?? "")">
                            </div> 
                            <button type="submit" class="btn btn-info">搜索</button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">分类标题</th> 
                                    <th class="text-center">排序号</th> 
                                    <th class="text-center">创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Paging.Items != null && Model.Paging.Items.Count > 0)
                                {
                                    foreach (var item in Model.Paging.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@item.QuestionId</td>
                                            <td class="text-center">@item.Title</td>
                                            <td class="text-center">@item.Sort</td> 
                                            <td class="text-center">@item.CTime</td>
                                            <td> 
                                                <a href="/Question/Edit/@item.QuestionId" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;编辑</a>
                                                
                                                <button onclick="del('/Question/Delete','/Question/List','@item.QuestionId')" class="btn btn-danger"><i class="fa fa-times padding-right-4"></i>&nbsp;删除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/Question/Edit" class="btn btn-info" data-refresh="0"><i class="fa fa-plus padding-right-4"></i>&nbsp;添加</a>
                                <a href="/Question/List" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                            @Html.Raw(Model.Paging.Text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
