@{
    ViewBag.Title = "考试记录列表";
}
@model Exam.Admin.Models.ProblemRecordVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/ProblemRecord/List" method="get">
                            <div class="col-sm-4">
                                根据用户查询：
                                <input type="text" name="QueryUserInfoId" class="form-control inline" style="width:70%;" placeholder="请输入查询用户ID" value="@(Model.QueryUserInfoId == 0 ? "":Model.QueryUserInfoId.ToString() )">
                            </div> 
                            <button type="submit" class="btn btn-info">搜索</button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">用户ID</th>
                                    <th class="text-center" style="width:200px;">用户昵称</th> 
                                    <th class="text-center" style="width:600px;">考试标题</th>
                                    <th class="text-center">所属类别</th>
                                    <th class="text-center">章节</th> 
                                    <th class="text-center">收藏时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Paging.Items != null && Model.Paging.Items.Count > 0)
                                {
                                    foreach (var item in Model.Paging.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@item.UserInfoAnswerRecordId</td>
                                            <td class="text-center">@item.UserInfo.UserInfoId</td>
                                            <td class="text-center">@item.UserInfo.NikeName</td>
                                            <td class="text-center">@item.Title</td>
                                            <td class="text-center">@item.Belong.Title</td>
                                            <td class="text-center">@item.Chapter.Title</td> 
                                            <td class="text-center">@item.CTime</td>
                                            <td>   
                                                <button onclick="iframe('答题详情展示','/ProblemRecord/ProblemList/@item.UserInfoAnswerRecordId')" class="btn btn-success">答题详情</button>
                                                @*<button onclick="del('/ProblemRecord/Delete','/ProblemRecord/List','@item.UserInfoAnswerRecordId')" class="btn btn-danger"><i class="fa fa-times padding-right-4"></i>&nbsp;删除</button>*@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                @*<a href="/ProblemRecord/Edit" class="btn btn-info" data-refresh="0"><i class="fa fa-plus padding-right-4"></i>&nbsp;添加</a>*@
                                <a href="/ProblemRecord/List" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                            @Html.Raw(Model.Paging.Text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
